@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    height: 720px;
    width: 360px;
    font-family: 'Epilogue', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}